# pylint: disable=too-many-lines
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import sys
from typing import Any, Callable, Dict, IO, Iterable, Optional, TypeVar, Union, overload
import urllib.parse

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpResponse
from azure.core.rest import HttpRequest
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
from .._serialization import Serializer
from .._vendor import PostgreSQLManagementClientMixinABC, _convert_request, _format_url_section

if sys.version_info >= (3, 8):
    from typing import Literal  # pylint: disable=no-name-in-module, ungrouped-imports
else:
    from typing_extensions import Literal  # type: ignore  # pylint: disable=ungrouped-imports
T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_create_request(
    target_db_server_subscription_id: str,
    target_db_server_resource_group_name: str,
    target_db_server_name: str,
    migration_name: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop(
        "api_version", _params.pop("api-version", "2022-03-08-preview")
    )  # type: Literal["2022-03-08-preview"]
    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "targetDBServerSubscriptionId": _SERIALIZER.url(
            "target_db_server_subscription_id",
            target_db_server_subscription_id,
            "str",
            pattern=r"([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}",
        ),
        "targetDBServerResourceGroupName": _SERIALIZER.url(
            "target_db_server_resource_group_name",
            target_db_server_resource_group_name,
            "str",
            pattern=r"^[-a-z0-9A-Z._()]+[^.]$",
        ),
        "targetDBServerName": _SERIALIZER.url(
            "target_db_server_name", target_db_server_name, "str", pattern=r"([-a-z0-9]){3,63}"
        ),
        "migrationName": _SERIALIZER.url("migration_name", migration_name, "str", pattern=r"^[a-z][a-z0-9]*$"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, params=_params, headers=_headers, **kwargs)


def build_get_request(
    target_db_server_subscription_id: str,
    target_db_server_resource_group_name: str,
    target_db_server_name: str,
    migration_name: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop(
        "api_version", _params.pop("api-version", "2022-03-08-preview")
    )  # type: Literal["2022-03-08-preview"]
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "targetDBServerSubscriptionId": _SERIALIZER.url(
            "target_db_server_subscription_id",
            target_db_server_subscription_id,
            "str",
            pattern=r"([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}",
        ),
        "targetDBServerResourceGroupName": _SERIALIZER.url(
            "target_db_server_resource_group_name",
            target_db_server_resource_group_name,
            "str",
            pattern=r"^[-a-z0-9A-Z._()]+[^.]$",
        ),
        "targetDBServerName": _SERIALIZER.url(
            "target_db_server_name", target_db_server_name, "str", pattern=r"([-a-z0-9]){3,63}"
        ),
        "migrationName": _SERIALIZER.url("migration_name", migration_name, "str", pattern=r"^[a-z][a-z0-9]*$"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_update_request(
    target_db_server_subscription_id: str,
    target_db_server_resource_group_name: str,
    target_db_server_name: str,
    migration_name: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop(
        "api_version", _params.pop("api-version", "2022-03-08-preview")
    )  # type: Literal["2022-03-08-preview"]
    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "targetDBServerSubscriptionId": _SERIALIZER.url(
            "target_db_server_subscription_id",
            target_db_server_subscription_id,
            "str",
            pattern=r"([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}",
        ),
        "targetDBServerResourceGroupName": _SERIALIZER.url(
            "target_db_server_resource_group_name",
            target_db_server_resource_group_name,
            "str",
            pattern=r"^[-a-z0-9A-Z._()]+[^.]$",
        ),
        "targetDBServerName": _SERIALIZER.url(
            "target_db_server_name", target_db_server_name, "str", pattern=r"([-a-z0-9]){3,63}"
        ),
        "migrationName": _SERIALIZER.url("migration_name", migration_name, "str", pattern=r"^[a-z][a-z0-9]*$"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PATCH", url=_url, params=_params, headers=_headers, **kwargs)


def build_delete_request(
    target_db_server_subscription_id: str,
    target_db_server_resource_group_name: str,
    target_db_server_name: str,
    migration_name: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop(
        "api_version", _params.pop("api-version", "2022-03-08-preview")
    )  # type: Literal["2022-03-08-preview"]
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "targetDBServerSubscriptionId": _SERIALIZER.url(
            "target_db_server_subscription_id",
            target_db_server_subscription_id,
            "str",
            pattern=r"([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}",
        ),
        "targetDBServerResourceGroupName": _SERIALIZER.url(
            "target_db_server_resource_group_name",
            target_db_server_resource_group_name,
            "str",
            pattern=r"^[-a-z0-9A-Z._()]+[^.]$",
        ),
        "targetDBServerName": _SERIALIZER.url(
            "target_db_server_name", target_db_server_name, "str", pattern=r"([-a-z0-9]){3,63}"
        ),
        "migrationName": _SERIALIZER.url("migration_name", migration_name, "str", pattern=r"^[a-z][a-z0-9]*$"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="DELETE", url=_url, params=_params, headers=_headers, **kwargs)


def build_list_by_target_server_request(
    target_db_server_subscription_id: str,
    target_db_server_resource_group_name: str,
    target_db_server_name: str,
    *,
    migration_list_filter: Optional[Union[str, _models.MigrationListFilter]] = None,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop(
        "api_version", _params.pop("api-version", "2022-03-08-preview")
    )  # type: Literal["2022-03-08-preview"]
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "targetDBServerSubscriptionId": _SERIALIZER.url(
            "target_db_server_subscription_id",
            target_db_server_subscription_id,
            "str",
            pattern=r"([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}",
        ),
        "targetDBServerResourceGroupName": _SERIALIZER.url(
            "target_db_server_resource_group_name",
            target_db_server_resource_group_name,
            "str",
            pattern=r"^[-a-z0-9A-Z._()]+[^.]$",
        ),
        "targetDBServerName": _SERIALIZER.url(
            "target_db_server_name", target_db_server_name, "str", pattern=r"([-a-z0-9]){3,63}"
        ),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    if migration_list_filter is not None:
        _params["migrationListFilter"] = _SERIALIZER.query("migration_list_filter", migration_list_filter, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class MigrationsOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.mgmt.rdbms.postgresql_flexibleservers.PostgreSQLManagementClient`'s
        :attr:`migrations` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @overload
    def create(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: _models.MigrationResource,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Creates a new migration.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for creating a migration. Required.
        :type parameters: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def create(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: IO,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Creates a new migration.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for creating a migration. Required.
        :type parameters: IO
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def create(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: Union[_models.MigrationResource, IO],
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Creates a new migration.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for creating a migration. Is either a model type or
         a IO type. Required.
        :type parameters: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource or IO
        :keyword content_type: Body Parameter content-type. Known values are: 'application/json'.
         Default value is None.
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version = kwargs.pop(
            "api_version", _params.pop("api-version", self._config.api_version)
        )  # type: Literal["2022-03-08-preview"]
        content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
        cls = kwargs.pop("cls", None)  # type: ClsType[_models.MigrationResource]

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(parameters, (IO, bytes)):
            _content = parameters
        else:
            _json = self._serialize.body(parameters, "MigrationResource")

        request = build_create_request(
            target_db_server_subscription_id=target_db_server_subscription_id,
            target_db_server_resource_group_name=target_db_server_resource_group_name,
            target_db_server_name=target_db_server_name,
            migration_name=migration_name,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            template_url=self.create.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if response.status_code == 200:
            deserialized = self._deserialize("MigrationResource", pipeline_response)

        if response.status_code == 201:
            deserialized = self._deserialize("MigrationResource", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    create.metadata = {"url": "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}"}  # type: ignore

    @distributed_trace
    def get(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Gets details of a migration.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version = kwargs.pop(
            "api_version", _params.pop("api-version", self._config.api_version)
        )  # type: Literal["2022-03-08-preview"]
        cls = kwargs.pop("cls", None)  # type: ClsType[_models.MigrationResource]

        request = build_get_request(
            target_db_server_subscription_id=target_db_server_subscription_id,
            target_db_server_resource_group_name=target_db_server_resource_group_name,
            target_db_server_name=target_db_server_name,
            migration_name=migration_name,
            api_version=api_version,
            template_url=self.get.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("MigrationResource", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    get.metadata = {"url": "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}"}  # type: ignore

    @overload
    def update(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: _models.MigrationResourceForPatch,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Updates an existing migration. The request body can contain one to many of the mutable
        properties present in the migration definition. Certain property updates initiate migration
        state transitions.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for updating a migration. Required.
        :type parameters: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResourceForPatch
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def update(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: IO,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Updates an existing migration. The request body can contain one to many of the mutable
        properties present in the migration definition. Certain property updates initiate migration
        state transitions.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for updating a migration. Required.
        :type parameters: IO
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def update(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        parameters: Union[_models.MigrationResourceForPatch, IO],
        **kwargs: Any
    ) -> _models.MigrationResource:
        """Updates an existing migration. The request body can contain one to many of the mutable
        properties present in the migration definition. Certain property updates initiate migration
        state transitions.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :param parameters: The required parameters for updating a migration. Is either a model type or
         a IO type. Required.
        :type parameters: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResourceForPatch
         or IO
        :keyword content_type: Body Parameter content-type. Known values are: 'application/json'.
         Default value is None.
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MigrationResource or the result of cls(response)
        :rtype: ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version = kwargs.pop(
            "api_version", _params.pop("api-version", self._config.api_version)
        )  # type: Literal["2022-03-08-preview"]
        content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
        cls = kwargs.pop("cls", None)  # type: ClsType[_models.MigrationResource]

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(parameters, (IO, bytes)):
            _content = parameters
        else:
            _json = self._serialize.body(parameters, "MigrationResourceForPatch")

        request = build_update_request(
            target_db_server_subscription_id=target_db_server_subscription_id,
            target_db_server_resource_group_name=target_db_server_resource_group_name,
            target_db_server_name=target_db_server_name,
            migration_name=migration_name,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            template_url=self.update.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("MigrationResource", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    update.metadata = {"url": "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}"}  # type: ignore

    @distributed_trace
    def delete(  # pylint: disable=inconsistent-return-statements
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_name: str,
        **kwargs: Any
    ) -> None:
        """Deletes a migration.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_name: The name of the migration. Required.
        :type migration_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version = kwargs.pop(
            "api_version", _params.pop("api-version", self._config.api_version)
        )  # type: Literal["2022-03-08-preview"]
        cls = kwargs.pop("cls", None)  # type: ClsType[None]

        request = build_delete_request(
            target_db_server_subscription_id=target_db_server_subscription_id,
            target_db_server_resource_group_name=target_db_server_resource_group_name,
            target_db_server_name=target_db_server_name,
            migration_name=migration_name,
            api_version=api_version,
            template_url=self.delete.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete.metadata = {"url": "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationName}"}  # type: ignore

    @distributed_trace
    def list_by_target_server(
        self,
        target_db_server_subscription_id: str,
        target_db_server_resource_group_name: str,
        target_db_server_name: str,
        migration_list_filter: Optional[Union[str, _models.MigrationListFilter]] = None,
        **kwargs: Any
    ) -> Iterable["_models.MigrationResource"]:
        """List all the migrations on a given target server.

        :param target_db_server_subscription_id: The subscription ID of the target database server.
         Required.
        :type target_db_server_subscription_id: str
        :param target_db_server_resource_group_name: The resource group name of the target database
         server. Required.
        :type target_db_server_resource_group_name: str
        :param target_db_server_name: The name of the target database server. Required.
        :type target_db_server_name: str
        :param migration_list_filter: Migration list filter. Retrieves either active migrations or all
         migrations. Known values are: "Active" and "All". Default value is None.
        :type migration_list_filter: str or
         ~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationListFilter
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either MigrationResource or the result of cls(response)
        :rtype:
         ~azure.core.paging.ItemPaged[~azure.mgmt.rdbms.postgresql_flexibleservers.models.MigrationResource]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version = kwargs.pop(
            "api_version", _params.pop("api-version", self._config.api_version)
        )  # type: Literal["2022-03-08-preview"]
        cls = kwargs.pop("cls", None)  # type: ClsType[_models.MigrationResourceListResult]

        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        def prepare_request(next_link=None):
            if not next_link:

                request = build_list_by_target_server_request(
                    target_db_server_subscription_id=target_db_server_subscription_id,
                    target_db_server_resource_group_name=target_db_server_resource_group_name,
                    target_db_server_name=target_db_server_name,
                    migration_list_filter=migration_list_filter,
                    api_version=api_version,
                    template_url=self.list_by_target_server.metadata["url"],
                    headers=_headers,
                    params=_params,
                )
                request = _convert_request(request)
                request.url = self._client.format_url(request.url)  # type: ignore

            else:
                # make call to next link with the client's api-version
                _parsed_next_link = urllib.parse.urlparse(next_link)
                _next_request_params = case_insensitive_dict(
                    {
                        key: [urllib.parse.quote(v) for v in value]
                        for key, value in urllib.parse.parse_qs(_parsed_next_link.query).items()
                    }
                )
                _next_request_params["api-version"] = self._config.api_version
                request = HttpRequest(
                    "GET", urllib.parse.urljoin(next_link, _parsed_next_link.path), params=_next_request_params
                )
                request = _convert_request(request)
                request.url = self._client.format_url(request.url)  # type: ignore
                request.method = "GET"
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize("MigrationResourceListResult", pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
                request, stream=False, **kwargs
            )
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(get_next, extract_data)

    list_by_target_server.metadata = {"url": "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations"}  # type: ignore
